.wrapper{width: 90%; max-width: 1100px; margin-left: auto; margin-right: auto;}

//logo classes
.logo{height: 50px; cursor: pointer;}
.logo-sm{height: 50px; cursor: pointer;}
.logo-md{height: 100px; cursor: pointer;}
.logo-lg{height: 200px; cursor: pointer;}


//display classes
.d-flex{display: flex;}
.d-block{display: block;}
.d-inline-block{display: inline-block;}

.justify-between{justify-content: space-between;}

.nav-ul{
    display: flex;
    list-style: none;
    
    li{
        display: inline-block;
        a{
            display: block;
            text-decoration: none;
            color: #333;
            &:hover{
                color: yellow;
            }
        }
    }
}

@media(max-width: 600px){
    .nav-ul{
        li{display: none;}
    }
}

//padding classes
.p-1{padding: 5px;} .p-2{padding: 10px;} .p-3{padding: 15px;} .p-4{padding: 20px;} .p-5{padding: 25px;}

.p-tb-1{padding-top: 5px; padding-bottom: 5px;}

//margin classes
.m-1{margin: 5px;} .m-2{margin: 10px;} .m-3{margin: 15px;} .m-4{margin: 20px;} .m-5{margin: 25px;}

//more class ideas
.card{}
.btn{}